IAP.WEB/Service References/SUsuario/SUsuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SUsuario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:35305/SUsuario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:35305/SUsuario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:35305/SUsuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IAP.BE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISUsuario_ObtenerExistenciaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerExistenciaUsuario" />
  </wsdl:message>
  <wsdl:message name="ISUsuario_ObtenerExistenciaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerExistenciaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISUsuario_ObtenerUsuariosIntranet_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuariosIntranet" />
  </wsdl:message>
  <wsdl:message name="ISUsuario_ObtenerUsuariosIntranet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuariosIntranetResponse" />
  </wsdl:message>
  <wsdl:portType name="ISUsuario">
    <wsdl:operation name="ObtenerExistenciaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISUsuario/ObtenerExistenciaUsuario" message="tns:ISUsuario_ObtenerExistenciaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISUsuario/ObtenerExistenciaUsuarioResponse" message="tns:ISUsuario_ObtenerExistenciaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuariosIntranet">
      <wsdl:input wsaw:Action="http://tempuri.org/ISUsuario/ObtenerUsuariosIntranet" message="tns:ISUsuario_ObtenerUsuariosIntranet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISUsuario/ObtenerUsuariosIntranetResponse" message="tns:ISUsuario_ObtenerUsuariosIntranet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISUsuario" type="tns:ISUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerExistenciaUsuario">
      <soap:operation soapAction="http://tempuri.org/ISUsuario/ObtenerExistenciaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuariosIntranet">
      <soap:operation soapAction="http://tempuri.org/ISUsuario/ObtenerUsuariosIntranet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SUsuario">
    <wsdl:port name="BasicHttpBinding_ISUsuario" binding="tns:BasicHttpBinding_ISUsuario">
      <soap:address location="http://localhost:35305/SUsuario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>